<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NTNL.Config.TwitterConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <NTNL.Config.TwitterConfig>
            <setting name="CK" serializeAs="String">
                <value>QHXBuLPQSWf27bVxSKpa81mUc</value>
            </setting>
            <setting name="CS" serializeAs="String">
                <value>Xloms6Uk104mOyrOfUVdNPONWY6C18UhfCeUXvpdGRR8TZjtk1</value>
            </setting>
            <setting name="loadTweetNum" serializeAs="String">
                <value>20</value>
            </setting>
        </NTNL.Config.TwitterConfig>
    </applicationSettings>
</configuration>