<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NTNL.NTNL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NTNL.NTNL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <NTNL.NTNL>
      <setting name="PIECE_TABLE_NAME" serializeAs="String">
        <value>"%TABLE_NAME%"</value>
      </setting>
      <setting name="PIECE_WHERE" serializeAs="String">
        <value>"%WHERE%"</value>
      </setting>
      <setting name="PIECE_COLUMNS" serializeAs="String">
        <value>"%COLUMNS%"</value>
      </setting>
      <setting name="PIECE_VALUES" serializeAs="String">
        <value>"%VALUES%"</value>
      </setting>
      <setting name="PIECE_SET" serializeAs="String">
        <value>"%SET%"</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </NTNL.NTNL>
  </applicationSettings>
  <userSettings>
    <NTNL.NTNL>
      <setting name="SQLBALE_INSERT" serializeAs="String">
        <value>"INSERT INTO " + DBConstants.PIECE_TABLE_NAME + " (" + DBConstants.PIECE_COLUMNS + ") VALUES (" + DBConstants.PIECE_VALUES + ")"</value>
      </setting>
      <setting name="SQLBASE_SELECT" serializeAs="String">
        <value>"SELECT " + DBConstants.PIECE_COLUMNS + " FROM " + DBConstants.PIECE_TABLE_NAME + " WHERE " + DBConstants.PIECE_WHERE + " "</value>
      </setting>
      <setting name="SQLBASE_UPDATE" serializeAs="String">
        <value>"UPDATE " + DBConstants.PIECE_TABLE_NAME + " SET " + DBConstants.PIECE_SET + " WHERE " + DBConstants.PIECE_WHERE + " "</value>
      </setting>
      <setting name="SQLBASE_DELETE" serializeAs="String">
        <value>"DELETE FROM " + DBConstants.PIECE_TABLE_NAME + " WHERE " + DBConstants.PIECE_WHERE + " "</value>
      </setting>
    </NTNL.NTNL>
  </userSettings>
</configuration>